.parte3{
    display: block;
    float: right;
    background-color:  rgb(207, 164, 248);
    margin: 10px 30px;
    padding: 5%;
    border-radius: 8px;
}
#img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    vertical-align: top;
    border-radius: 8px;
}